<div>

  <form>
    
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput placeholder="Your name here">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Message</mat-label>
      <textarea matInput placeholder="Your Message here"> </textarea>
    </mat-form-field>


    <button mat-button color="primary">Send</button>

    <mat-card>
      <mat-card-content>Chat History</mat-card-content>

      <i>User says:</i>
       Test cool basic conversation
    </mat-card>
    
  </form>
</div>
